* {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	box-sizing: border-box;
	color: white;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	background-color: var(--primary-dark);
	height: 100vh;
}

// browser autofil won't change input background-color, color, border...

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
	background-color: transparent !important;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: var(--primary-dark);
}

::-webkit-scrollbar-thumb {
	background: var(--secondary-dark);
	border-radius: 3px;
}
