@use "./mixins" as mixin;
@import "loaders.css/src/animations/line-scale-pulse-out.scss";
@import "loaders.css/src/animations/ball-zig-zag.scss";

.btn {
	text-decoration: none;
	cursor: pointer;
	font-weight: 700;
	transition: 0.3s;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	padding: 0 0.5rem 0 0.5rem;
	opacity: 1;

	&-primary {
		@extend .btn;
		background-color: var(--primary);
		border: 2px solid var(--primary);
	}

	&-reverse-primary {
		@extend .btn;
		background-color: var(--dark-grey);
		color: var(--primary);
		border: 2px solid var(--primary);
	}

	&-danger {
		@extend .btn;
		background-color: var(--danger);
		border: 2px solid var(--danger);
	}

	&-reverse-danger {
		@extend .btn;
		color: var(--danger);
		background-color: var(--dark-grey);
		border: 2px solid var(--danger);
	}

	&-success {
		@extend .btn;
		background-color: var(--success);
		border: 2px solid var(--success);
	}

	&-reverse-play {
		@extend .btn;
		color: var(--yellow);
		background-color: var(--dark-grey);
		border: 2px solid var(--yellow);
	}

	&:hover {
		transition: 0.3s;
		box-shadow: var(--box-shadow-login42);
	}
}

.btn > i {
	color: white;
}

.title {
	text-align: center;
	font-family: var(--game-font);
	color: var(--primary);
	font-size: 3rem;

	@include mixin.sm-lt {
		font-size: 2rem;
	}
}

.underTitle {
	@extend .title;
	margin-top: 0.5rem;
	font-size: 1rem;

	@include mixin.sm-lt {
		font-size: 0.8rem;
	}
}

.loader-active {
	background-color: var(--primary-dark);
	// display: block;
	display: flex;
	justify-content: center;
	align-items: center;

	.loader-inner > div {
		margin: 0.5rem;
		height: 15vh;
		width: 0.8vw;
		background: var(--primary);
	}

	.nobody-loader {
		height: 40vh;
		> div {
			width: 2.5vw;
			height: 2.5vw;
			background: var(--primary);
		}
	}
}

.private-loader {
	height: 88vh;
}

.alert {
	position: fixed;
	z-index: 10;
	top: -20rem;
	margin-left: 50%;
	border-radius: 5px;
	padding: 1rem 2rem;
	box-shadow: var(--box-shadow);
	transform: translateX(-50%);
	animation: slide-in 0.5s forwards;
}

.alert-error {
	background: var(--danger);
}

.alert-success {
	background: var(--success);
}

.alert-info {
	background: var(--primary);
}

.alert-warning {
	background: var(--warning);
}

@keyframes slide-in {
	0% {
		top: -20rem;
	}
	100% {
		top: 2rem;
	}
}

@keyframes slide-out {
	0% {
		top: 2rem;
	}
	100% {
		top: -20rem;
	}
}

.hide {
	animation: slide-out 0.5s forwards;
}
