.p-5 {
  padding: 0.5rem;
}

.p-10 {
  padding: 1rem;
}

.p-20 {
  padding: 2rem;
}

.p-30 {
  padding: 3rem;
}

.pr-5 {
  padding-right: 0.5rem;
}

.pr-10 {
  padding-right: 1rem;
}

.pr-20 {
  padding-right: 2rem;
}

.pr-30 {
  padding-right: 3rem;
}

.pl-5 {
  padding-left: 0.5rem;
}

.pl-10 {
  padding-left: 1rem;
}

.pl-20 {
  padding-left: 2rem;
}

.pl-30 {
  padding-left: 3rem;
}

// /////////////////////////////////////////////

.m-5 {
  margin: 0.5rem;
}

.m-10 {
  margin: 1rem;
}

.m-20 {
  margin: 2rem;
}

.m-30 {
  margin: 3rem;
}

.mr-5 {
  margin-right: 0.5rem;
}

.mr-10 {
  margin-right: 1rem;
}

.mr-20 {
  margin-right: 2rem;
}

.mr-30 {
  margin-right: 3rem;
}

.ml-5 {
  margin-left: 0.5rem;
}

.ml-10 {
  margin-left: 1rem;
}

.ml-1vw {
  margin-left: 1vw;
}

.ml-20 {
  margin-left: 2rem;
}

.ml-30 {
  margin-left: 3rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 0.5rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-30 {
  margin-top: 3rem;
}

// /////////////////////////////

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.underline {
  text-decoration: underline;
}

.w-100 {
  width: 100%;
}
