@use "../../../assets/styles/mixins" as mixin;

.titleContainer {
	@include mixin.sm-lt {
		margin-top: 1.5rem;
	}

	h2 {
		overflow-wrap: break-word;
		color: var(--yellow);
	}
}

.profileContainer {
	@include mixin.sm-lt {
		flex-direction: column;
	}
}

.userPresentationContainer {
	flex: 30%;

	@include mixin.sm-lt {
		flex: 0;
	}
}

.userStatsContainer {
	flex: 70%;
	height: 70vh;
	margin-top: 1rem;
	margin-right: 2rem;
	border: 2px solid var(--purple);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	padding: 1rem;

	@include mixin.sm-lt {
		margin: 1rem;
		margin-top: 2rem;
		max-height: 38vh;
	}
}
