@use "../../assets/styles/mixins" as mixin;

.friendsContainer {
	flex: 20%;
	height: 75vh;
	margin-top: -5rem;
	margin-left: 0.5rem;
	border: 1px solid var(--secondary-dark);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
}

.homepageButtonContainer {
	flex: 80%;

	button {
		margin-left: -20vw;
	}

	button:nth-child(1) {
		margin-top: -10rem;
	}
}

@include mixin.sm-lt {
	.friendsContainer {
		margin-top: 0;
		height: 50vh;
	}

	.homepageButtonContainer {
		margin-left: 15vw;
	}
}
