@use "../../assets/styles/mixins" as mixin;

.homepageContainer {
	margin: 4rem;
}

.friendsContainer {
	flex: 20%;
	max-width: 20rem;
	// height: 75vh;
	height: 100%;
	border: 4px solid var(--purple);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	padding: 1rem;
}

.emptyContainer {
	flex: 20%;
	max-width: 20rem;
}

.mainContainer {
	flex: 1;

	// button {
	// 	margin-left: -20vw;
	// }

	// button:nth-child(1) {
	// 	margin-top: -10rem;
	// }
}

.titleContainer {
	flex: 0.2;
}

.buttonContainer {
	flex: 0.8;
}

.play {
	background-color: var(--yellow);
	border-color: var(--yellow);
	color: var(--primary-dark);
	& > i {
		color: var(--primary-dark);
	}
	&:hover {
		scale: 1.1;
		background-color: var(--primary);
		border-color: var(--primary);
	}
}

.chat {
	background-color: var(--orange);
	border-color: var(--orange);
	color: var(--primary-dark);
	& > i {
		color: var(--primary-dark);
	}
	&:hover {
		scale: 1.1;
		background-color: var(--primary);
		border-color: var(--primary);
	}
}

.users {
	background-color: var(--pink);
	border-color: var(--pink);
	color: var(--primary-dark);
	& > i {
		color: var(--primary-dark);
	}
	&:hover {
		scale: 1.1;
		background-color: var(--primary);
		border-color: var(--primary);
	}
}

@include mixin.sm-lt {
	.homepageContainer {
		flex-direction: column-reverse;
	}

	.homepageButtonContainer {
		flex: 1%;
		justify-content: right;
		button {
			margin-left: 0;
			margin-bottom: 0;
		}

		button:nth-child(1) {
			margin-top: 0;
		}
	}

	.friendsContainer {
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
		max-height: 50vh;
	}
}
