@use "../../../assets/styles/mixins" as mixin;

.dmHeader {
	width: 48vw;

	h2 {
		font-size: 1.5rem;
		cursor: pointer;
		transition: color 0.3s ease-in-out;

		&:hover {
			color: var(--primary);
		}
	}

	small {
		font-size: 1rem;
	}

	@include mixin.sm-lt {
		margin-top: 1rem;
		width: 70vw;

		h2 {
			font-size: 1rem;
		}

		small {
			font-size: 0.7rem;
			margin-left: 0.2rem;
		}

		button {
			font-size: 0.7rem;
		}
	}
}

.messagesList {
	margin-top: 1.5rem;
	border: 1px solid var(--secondary-dark);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	height: 40vh;
	width: 50vw;
	overflow-y: scroll;

	@include mixin.sm-lt {
		height: 35vh;
		width: 70vw;
	}

	.blockedMessageContainer {
		p {
			max-width: 50%;
			display: flex;
			word-break: break-all;
			font-size: 0.8rem;
			color: var(--secondary-dark);
		}

		small {
			color: var(--secondary-dark);
		}
	}

}
