.messageContainer {
	p {
		background-color: var(--secondary-dark);
		border-radius: 5px;
		padding: 0.5rem;
		font-family: var(--font-family);
		max-width: 50%;
		display: flex;
		word-break: break-all;
		font-size: 1rem;
	}

	small {
		color: var(--secondary-dark);
	}
}

.ownMessage {
	p {
		background-color: var(--primary);
		color: white;
	}
}
