label {
	width: 15rem;
	// height: 3rem;
	margin-bottom: 1rem;
	box-shadow: var(--box-shadow-nav);
	background-color: var(--primary-dark);
	border-radius: 4px;

	input {
		border-radius: 4px;
		width: 12rem;
		height: 3rem;
		border: none;
		padding: 1rem 1rem 1rem 0;
		color: white;
		outline: 0;
		transition: 0.2s;
		flex: 1;
		background-color: var(--primary-dark);

		&::placeholder {
			color: var(--light-grey);
		}
	}

	i {
		text-align: center;
		flex: 1;
	}
}

label:active {
	box-shadow: var(--box-shadow-nav);
	transition: 0.2s;
}

button {
	margin: 0.5rem 0;
	width: 7.5rem;
	height: 2rem;
}
