@use "../../../../assets/styles/mixins" as mixin;

.friends {
	color: var(--purple);
}

.friendsList {
	border-top: 2px var(--purple) dashed;
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-height: 100%;
	overflow-y: scroll;

	.listElem {
		padding: 0.75rem;
		border-bottom: 1px solid var(--secondary-dark);
		align-items: center;

		h4:first-of-type {
			min-width: 50%;
		}

		h4 {
			font-size: 1.2rem;
			color: var(--light-grey);
			font-weight: 900;
		}

		@include mixin.sm-lt {
			h4 {
				font-size: 1.2rem;
			}
		}

		.titleStatusBadge {
			width: 0.7vw;
			height: 0.7vw;
			border: none;
		}

		p:first-of-type {
			min-width: 50%;
			cursor: pointer;
			text-decoration: none;
			text-decoration-color: transparent;
			transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;

			&:hover {
				color: var(--primary);
				text-decoration: underline;
				text-underline-offset: 0.3em;
				text-decoration-color: var(--primary);
			}
		}

		p {
			font-size: 1.2rem;
		}

		@include mixin.sm-lt {
			p {
				font-size: 0.7rem;
			}
		}

		i {
			font-size: 1.2rem;
		}

		@include mixin.sm-lt {
			i {
				font-size: 1rem;
			}
		}

		.gamepad {
			color: var(--yellow);
		}

		i:nth-of-type(2) {
			color: var(--primary);
		}

		i {
			cursor: pointer;
			transition: color 0.2s ease-in-out;

			&:hover {
				color: var(--light-grey);
			}
		}

		.gamepadDisconnected {
			color: var(--yellow);
			cursor: auto;
			opacity: 25%;

			&:hover {
				color: var(--yellow);
			}
		}

		.statusBadge {
			min-width: 0.75rem;
			max-width: 0.75rem;
			min-height: 0.75rem;
			max-height: 0.75rem;
			border: var(--border);
			border-radius: 50%;
		}

		@include mixin.sm-lt {
			.statusBadge,
			.titleStatusBadge {
				width: 2.5vw;
				height: 2.5vw;
			}
		}

		.online {
			background-color: var(--success);
		}

		.offline {
			background-color: var(--danger);
		}

		.ingame {
			background-color: var(--primary);
		}
	}

	.noFriends {
		font-family: var(--game-font);
		font-weight: 500;
		text-align: center;
		color: var(--light-grey);
	}

	.findFriends {
		background-color: var(--purple);
		border-color: var(--purple);
	}
}
