@use "./../../assets/styles/mixins" as mixin;

.gamePage {
	flex: 1;
	margin-bottom: 5rem;
	@include mixin.sm-lt {
		margin-bottom: 1rem;
	}
}

.textContainer {
	> div:nth-child(2) {
		color: var(--yellow);
	}
}

.sizeContainer {
	width: calc(0.7 * 100vw);
	max-width: 576px;
	@include mixin.sm-lt {
		width: calc(0.8 * 100vw);
		max-width: 576px;
	}
}

.gameContainer {
	width: 100%;
	height: calc(0.8 * 0.7 * 100vw);
	max-height: calc(0.8 * 576px);
	border-radius: 4px;
	aspect-ratio: 5 / 4;
	box-shadow: var(--box-shadow-nav);
	@include mixin.sm-lt {
		height: calc(0.8 * 0.8 * 100vw);
	}
}

.pointContainer {
	width: 100%;
	padding: 1.5rem;
	border-radius: 5px;
	margin-bottom: 2rem;
	background-color: var(--primary-dark);
	box-shadow: var(--box-shadow-login42);

	@include mixin.sm-lt {
		padding: 0.5rem;
		height: 5rem;
	}
}

.points {
	width: 49em;
	font-size: 1.5rem;
	font-family: var(--game-font);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: var(--primary);
}

.delimiter {
	text-align: center;
	font-family: var(--game-font);
	width: 2em;
	color: var(--orange);
}

.score {
	font-family: var(--game-font);
	color: var(--orange);
	flex: 0.3;
	text-align: center;
}

.playerPoints {
	flex: 0.7;
	& > img {
		font-size: 0.7rem;
		font-weight: 500;
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		border: 2px var(--yellow) solid;
	}

	& > div {
		text-align: center;
		margin-top: 1rem;
		font-size: 0.7rem;
		font-weight: 500;
		font-family: var(--game-font);
		color: var(--yellow);
		@include mixin.sm-lt {
			display: none;
		}
	}
}

.ownerPoints {
	flex: 0.7;
	& > img {
		font-size: 0.7rem;
		font-weight: 500;
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		border: 2px var(--pink) solid;
	}

	& > div {
		text-align: center;
		margin-top: 1rem;
		font-size: 0.7rem;
		font-weight: 500;
		font-family: var(--game-font);
		color: var(--pink);
		@include mixin.sm-lt {
			display: none;
		}
	}
}

.buttonContainer {
	@include mixin.sm-lt {
		flex-direction: column;
	}
}

.buttonContainer > button {
	height: 3rem;
	transition: 0.2s;
	overflow: hidden;
	box-shadow: var(--box-shadow);
	margin-bottom: 1rem;
	background-color: var(--pink);
	border-color: var(--pink);
	margin: 0rem 1rem;

	@include mixin.sm-lt {
		width: 10rem;
		height: 2rem;
		margin-bottom: 0.5rem;
	}

	&:hover {
		scale: 1.1;
		box-shadow: var(--box-shadow-login42);
	}

	&:active {
		scale: 1;
		box-shadow: var(--box-shadow);
	}

	.buttonText {
		font-family: var(--game-font);
		font-weight: 500;
		font-size: 1rem;
		position: relative;
		top: 1rem;
		color: var(--primary-dark);
		@include mixin.sm-lt {
			font-size: 0.67rem;
			top: 0.6rem;
		}
		text-align: center;
	}

	.buttonIcon {
		font-size: 1.5rem;
		i {
			color: var(--primary-dark);
		}
		@include mixin.sm-lt {
			font-size: 1rem;
		}
	}

	&:hover .buttonText {
		animation: moveText 0.4s forwards;
	}

	&:not(:hover) .buttonText {
		animation: moveText2 0.2s forwards;
	}

	&:hover .buttonIcon {
		animation: moveButton 0.2s forwards;
		@include mixin.sm-lt {
			animation: moveButtonSM 0.2s forwards;
		}
	}

	&:not(:hover) .buttonIcon {
		animation: moveButton2 0.4s forwards;
		@include mixin.sm-lt {
			animation: moveButton2SM 0.2s forwards;
		}
	}

	@keyframes moveText {
		0% {
			transform: translateY(0);
			opacity: 1;
		}
		50% {
			opacity: 1;
			transform: translateY(-2rem);
		}
		51% {
			opacity: 0;
		}
		99% {
			opacity: 0;
			transform: translateY(2rem);
		}
		100% {
			opacity: 1;
			transform: translateY(2rem);
		}
	}

	@keyframes moveText2 {
		0% {
			transform: translateY(2rem);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes moveButton {
		0% {
			transform: translateY(2rem);
		}
		100% {
			transform: translateY(-0.5rem);
		}
	}

	@keyframes moveButton2 {
		0% {
			transform: translateY(-0.5rem);
			opacity: 1;
		}
		50% {
			opacity: 1;
			transform: translateY(-4rem);
		}
		51% {
			opacity: 0;
		}
		99% {
			opacity: 0;
			transform: translateY(2rem);
		}
		100% {
			opacity: 1;
			transform: translateY(2rem);
		}
	}

	@keyframes moveButtonSM {
		0% {
			transform: translateY(2rem);
		}
		100% {
			transform: translateY(-0.4rem);
		}
	}

	@keyframes moveButton2SM {
		0% {
			transform: translateY(-0.4rem);
			opacity: 1;
		}
		50% {
			opacity: 1;
			transform: translateY(-4rem);
		}
		51% {
			opacity: 0;
		}
		99% {
			opacity: 0;
			transform: translateY(2rem);
		}
		100% {
			opacity: 1;
			transform: translateY(2rem);
		}
	}
}

.alertContainer {
	width: 40vw;
	background-color: var(--danger);
	padding: 2rem;
	border-radius: 5px;
	color: var(--light-grey);
	margin-bottom: 10rem;
}
