.gamePage {
	background-color: var(--primary-dark);
	flex: 1;
	// height: 100vh;
	// width: 100vw;
	// padding: 4rem;
}

.sizeContainer {
	width: calc(0.45 * 100vw);
	max-width: 576px;
}

.gameContainer {
	width: 100%;
	height: calc(0.8 * 0.45 * 100vw);
	max-height: calc(0.8 * 576px);
	border-radius: 4px;
	aspect-ratio: 5 / 4;
	box-shadow: var(--box-shadow-nav);
}

.pointContainer {
	width: 100%;
	padding: 2rem;
	border: 4px dashed var(--primary);
	border-radius: 5px;
	margin-bottom: 2rem;
}

// .rightPoints {
// 	font-size: 1.5rem;
// 	font-family: var(--game-font);
// 	color: var(--primary);

// 	& > img {
// 		height: 4rem;
// 		width: 4rem;
// 		border-radius: 50%;
// 		border: 2px var(--light-grey) solid;
// 	}
// }

.points {
	width: 50%;
	font-size: 1.5rem;
	font-family: var(--game-font);
	color: var(--primary);
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	& > img {
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
		border: 2px var(--primary) solid;
	}
}

.playerPoints {

}

.ownerPoints {

}

.buttonContainer {
	width: 18rem;
}

.buttonContainer > button {
	width: 8rem;
	height: 1.5rem;
}

.alertContainer {
	width: 40vw;
	background-color: var(--danger);
	padding: 2rem;
	border-radius: 5px;
	color: var(--light-grey);
}
