.gamePage {
	background-color: var(--primary-dark);
	// padding: 4rem;
}

.sizeContainer {
	width: calc(0.45 * 100vw);
	max-width: 576px;
}

.gameContainer {
	width: 100%;
	height: calc(0.8 * 0.45 * 100vw);
	max-height: calc(0.8 * 576px);
	border-radius: 4px;
	aspect-ratio: 5 / 4;
	box-shadow: var(--box-shadow-nav);
	// scale: 0.9;
}

.pointContainer {
	width: 100%;
	padding: 2rem 4rem 2rem 4rem;
}

.rightPoints {
	font-size: 1.5rem;
	font-family: var(--game-font);
	color: var(--primary);
}

.leftPoints {
	font-size: 1.5rem;
	font-family: var(--game-font);
	color: var(--primary);
}

.buttonContainer {
	width: 18rem;
}

.buttonContainer > button {
	width: 8rem;
	height: 1.5rem;
}

.alertContainer {
	width: 40vw;
	background-color: var(--danger);
	padding: 2rem;
	border-radius: 5px;
	color: var(--light-grey)
}
