.statsContainer {
	height: 7rem;
	border-bottom: 1px solid var(--secondary-dark);

	div {
		border-right: 1px solid var(--secondary-dark);

		p {
			color: var(--light-grey);
			opacity: 0.8;
		}

		h2 {
			color: var(--light-grey);
		}
	}
}

.titleStats {
	color: var(--light-grey);
	border-bottom: 1px solid var(--secondary-dark);
	background: rgba(0, 0, 0, 0.1);
}
.listContainer {
	height: 100%;
	overflow-y: scroll;

}

.listElem {
	border-bottom: 1px solid var(--secondary-dark);
}
