@use "../../assets/styles/mixins" as mixin;

.channelsListContainer {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	border: 1px solid var(--secondary-dark);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	min-height: 40vh;
	max-height: 50vh;
	width: 50vw;

	@include mixin.sm-lt {
		width: 80vw;
		max-height: 45vh;
	}

	ul {
		overflow-y: scroll;
	}

	.listElems {
		padding: 1rem;
		margin: 0.5rem;
		border-bottom: 1px solid var(--secondary-dark);
		font-size: 1.5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		p {
			cursor: default;
		}

		@include mixin.sm-lt {
			flex-direction: column;
			padding: 0.8rem;
			font-size: 1rem;
			margin-top: 0;

			div {
				display: flex;
				margin-top: 0.5rem;

				button {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
				}
			}
		}
	}

	h2 {
		@include mixin.sm-lt {
			font-size: 1rem;
			padding: 0;
			padding-top: 0.5rem;
		}
	}
}

.channelsBtn {
	@include mixin.sm-lt {
		font-size: 0.7rem;
		margin-top: -0.5rem;
	}
}
