@use "../../../assets/styles/mixins" as mixin;

.chanHeader {
	border: 2px var(--orange) solid;
	width: 50vw;
	padding: 1rem;
	border-radius: 5px;

	h2 {
		font-size: 1rem;
		font-family: var(--game-font);
		font-weight: 500;
		color: var(--light-grey);
		cursor: pointer;
		transition: 0.2s;
		&:hover {
			color: var(--primary);
		}
	}

	@include mixin.sm-lt {
		width: 80vw;
		padding: 0.5rem;

		h2 {
			font-size: 0.5rem;
		}
	}
}

.channelContainer {
	margin-top: 0.5rem;
	border-radius: 5px;
	height: 45vh;
	width: 50vw;
	border: 2px var(--secondary-dark) solid;
	padding: 1rem;
	border-radius: 5px;

	@include mixin.sm-lt {
		margin-top: 0.2rem;
		height: 40vh;
		width: 80vw;

		h2 {
			font-size: 1rem;
		}
	}

	.channelMessagesList {
		overflow-y: scroll;

		li {
			cursor: pointer;
		}

		p {
			text-align: center;
		}
	}
}

.usersList {
	margin-top: 4.7rem;
	border: 1px solid var(--secondary-dark);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	height: 45vh;
	min-width: 10vw;
	overflow-y: scroll;

	li {
		cursor: pointer;
		text-decoration: none;
		text-decoration-color: transparent;
		transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;

		&:hover {
			color: var(--primary);
			text-decoration: underline;
			text-underline-offset: 0.3em;
			text-decoration-color: var(--primary);
		}
	}

	@include mixin.sm-lt {
		display: none;
	}
}

.modalInvite {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);

	.modalInviteContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50vw;
		height: 70vh;
		padding: 2rem;
		background-color: var(--light-grey);
		border-radius: 5px;
		box-shadow: var(--box-shadow);

		ul {
			overflow-y: scroll;
		}

		ul::-webkit-scrollbar-track {
			background-color: var(--light-grey);
		}

		@include mixin.sm-lt {
			width: 75vw;
			height: 70vh;

			h2 {
				margin-bottom: 1rem;
			}
		}

		h2 {
			color: var(--primary);
		}

		li {
			padding-top: 0.5rem;
			cursor: pointer;
			color: var(--black);
			text-decoration: none;
			text-decoration-color: transparent;
			transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;

			&:hover {
				color: var(--primary);
				text-decoration: underline;
				text-underline-offset: 0.3em;
				text-decoration-color: var(--primary);
			}
		}

		button {
			height: 2.5rem;
			width: 7rem;
		}
	}
}

.manageUserModal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);

	h2 {
		color: var(--primary);
	}

	.manageUserModalContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50vw;
		height: 70vh;
		padding: 2rem;
		background-color: var(--light-grey);
		border-radius: 5px;
		box-shadow: var(--box-shadow);

		button {
			height: 2.5rem;
			width: 7rem;
		}

		@include mixin.sm-lt {
			width: 75vw;
			height: 70vh;
			padding: 1rem;

			h2 {
				margin: 0;
				font-size: 1rem;
			}

			button {
				margin-top: 0.2rem;
			}
		}
	}
}
