@use "../../../../../assets/styles/mixins" as mixin;

.alertContainer {
	width: 40vw;
	background-color: var(--danger);
	padding: 2rem;
	border-radius: 5px;
	@include mixin.sm-lt {
		width: 80%;
	}
}

.messageContainer {
	color: var(--light-grey);
}

.btnDetectedAfk {
	background-color: var(--secondary-dark);
	border-color: var(--secondary-dark);
	width: 12rem;
}
