.alertContainer {
	width: 40vw;
	background-color: var(--danger);
	padding: 2rem;
	border-radius: 5px;
}

.messageContainer {
	color: var(--light-grey);
}

.btnDetectedAfk {
	background-color: var(--secondary-dark);
	border-color: var(--secondary-dark);
	height: 1.5rem;
	width: 8rem;
}
