.headerContainer {
	height: 4rem;
	background-color: var(--dark-primary);
	box-shadow: var(--box-shadow-nav);
}

.title {
	color: var(--primary);
	cursor: pointer;
}

.menuTrigger img {
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	margin-right: 1rem;
	background: var(--secondary-dark);
}

.dropdownMenu {
	position: absolute;
	top: 5rem;
	right: 1rem;
	background-color: var(--light-grey);
	border-radius: 8px;
	padding: 1rem 1.5rem;
	width: 12rem;

	h3 {
		width: 100%;
		text-align: center;
		font-size: 18px;
		padding: 20px 0;
		font-weight: 500;
		font-size: 18px;
		color: var(--primary-dark);
		line-height: 1.2rem;
	}

	ul li {
		padding: 0.5rem 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);

		button {
			text-decoration: none;
			color: var(--black);
			border: none;
			background: inherit;
			max-width: 10rem;
			margin-left: 1rem;
			transition: 500ms;
		}

		&:nth-child(3) button {
			color: var(--danger);
		}

		&:hover button {
			color: var(--primary);
			cursor: pointer;
		}
	}
}

.dropdownMenu::before {
	content: "";
	position: absolute;
	top: -0.5rem;
	right: 1rem;
	height: 2rem;
	width: 2rem;
	background: var(--light-grey);
	transform: rotate(45deg);
}

.dropdownItem {
	margin: 1rem auto;
}

.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: 500ms ease;
}

.inactive {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: 500ms ease;
}
