@use "../../assets/styles/mixins" as mixin;

.nobodyTitle {
	color: var(--light-grey);
}

.listContainer {
	ul {
		border: 4px solid var(--orange);
		border-radius: 5px;
		box-shadow: var(--box-shadow);
		width: 50%;
		height: 70%;
		overflow-y: scroll;

		li {
			align-items: center;
			transition: 0.2s;
			padding: 0.5rem;
			margin: 1rem 0.5rem;

			&:hover {
				background-color: #415158;
			}

			.statusBadge {
				width: 0.8vw;
				height: 0.8vw;
				border: var(--border);
				border-radius: 50%;
			}

			@include mixin.sm-lt {
				span {
					width: 5vw;
				}
				.statusBadge {
					width: 2.5vw;
					height: 2.5vw;
				}
			}

			.online {
				background-color: var(--success);
			}

			.offline {
				background-color: var(--danger);
			}

			.ingame {
				background-color: var(--primary);
			}

			.noStatus {
				border: none;
			}

			i {
				cursor: pointer;
				transition: color 0.3s ease-in-out;

				&:hover {
					color: var(--light-grey);
				}
			}

			h3 {
				color: var(--light-grey);
				min-width: 50%;
				cursor: pointer;
				transition: color 0.3s ease-in-out;
				font-size: 1rem;
				font-weight: 500;
				font-family: var(--game-font);

				&:hover {
					color: var(--primary);
				}

				@include mixin.sm-lt {
					font-size: 3vw;
					min-width: 40%;
				}
			}

			.minusIcon {
				color: var(--danger);
			}

			.plusIcon {
				color: var(--success);
			}

			.gamepadIcon {
				color: var(--yellow);
			}

			.gamepadDisconnectedIcon {
				color: var(--secondary-dark);
				cursor: auto;

				&:hover {
					color: var(--secondary-dark);
				}
			}

			.dmIcon {
				color: var(--primary);
			}

			@include mixin.sm-lt {
				.dmIcon {
					margin-right: 0.2rem;
				}
			}
		}
	}

	@include mixin.sm-lt {
		ul {
			width: 95%;
			height: 80%;
		}
	}
}
