@use "../../../assets/styles/mixins" as mixin;

.navContainer {
	background: #3d4c53;
	text-align: center;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid var(--yellow);
	box-shadow: var(--box-shadow-nav);
	height: 5rem;
	max-width: 80vw;

	@include mixin.sm-lt {
		margin-top: 1rem;
		height: 3rem;
	}
}

.navLink {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
	color: var(--light-grey);
	font-family: var(--game-font);
	transition: 0.2s;

	&:hover {
		scale: 1.1;
		color: var(--yellow);
	}

	@include mixin.sm-lt {
		font-size: 0.75rem;
		padding: 1.5rem;
	}
}

.activeNavLink {
	color: var(--yellow);
	scale: 1.1;
	transition: 0.2s;
}
