.navContainer {
	background: #3d4c53;
	max-width: 50rem;
	height: 5em;
	overflow: hidden;
	text-align: center;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: var(--box-shadow-nav);
	min-width: 400px;
	max-width: 70vw;
}

.navLink {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light-grey);

	&:hover {
		box-shadow: var(--box-shadow-login42);
	}
}

.activeNavLink {
	color: var(--primary);
}
