.navContainer {
	background: #3d4c53;
	overflow: hidden;
	text-align: center;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: var(--box-shadow-nav);
	height: 5rem;
	max-width: 90vw;
}

.navLink {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
	color: var(--light-grey);

	&:hover {
		box-shadow: var(--box-shadow-login42);
	}
}

.activeNavLink {
	color: var(--primary);
}
