.gamePage {
	padding: auto;
	height: 100vh;
	width: 100%;
	// padding-top: 56.25%;
}

.gameContainer {
	// border: 2px solid var(--primary);
	border-radius: 4px;
	width: 75vw;
	height: calc(0.5625 * 75vw);
	box-shadow: var(--box-shadow-nav);
}

.pointContainer {
	width: 75vw;
	padding: 2rem 4rem 2rem 4rem;
}

.rightPoints {
	// font-size: 2.5rem;
	font-size: 2rem;
	font-family: var(--game-font);
	color: var(--primary);
}

.leftPoints {
	// font-size: 2.5rem;
	font-size: 2rem;
	font-family: var(--game-font);
	color: var(--primary);
}
